.slider {
  position: relative;
  overflow-x: hidden;
  /* todo: because of the overflow, the top border is cut off */
}

.slider__content {
  display: flex;
  transition: 1s;
}

.slider__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 23px 0;
  font-size: 40px; /* scales up the SVG icons */
}

.slider__left-arrow,
.slider__right-arrow {
  cursor: pointer;
  color: #2DA936
}

.slider__right-arrow:hover,
.slider__right-arrow:focus,
.slider__left-arrow:hover,
.slider__left-arrow:focus {
  opacity: .7;
}